<div id="np-autocomplete-transclude"></div>
<div id="np-do-not-touch" style="display: none;">
	<button
		type="button"
		ng-click="clear()"
		ng-class="options.messageClass"
		ng-bind="options.noResultsMessage"
		ng-if="!searchResults.length && !loading && !hasError">
	</button>
	<button
		type="button"
		ng-if="hasError && !loading"
		ng-click="clear()"
		ng-class="options.messageClass"
		ng-bind="options.errorStateMessage">
	</button>
	<a
		ng-if="loading"
		ng-class="options.messageClass"
		ng-bind="options.loadStateMessage">
	</a>
</div>